body {
	font-family: sans-serif;
	font-size: 17px;
	color: #4A4A4A;
	background-color: #e6e8ed;
}
a {
	text-decoration: none;
}
ul {
	padding-left: 0px;
	list-style-type: none;
}
.clear {
	clear: both;
}
nav {
	position: relative;
	overflow: hidden;
}

.logo-container {
	float: left;
}
nav > a {
	display: block;
	background-image: url(https://a.slack-edge.com/5eb00/img/landing/where_work_happens/logo-dark-blue.png);
	background-repeat: no-repeat;
	width: 105px;
	height: 30px;
	position: absolute;
	top: 28%;
	left: 1%;
}
nav ul {
	float: right;
	list-style-type: none;
	margin-left: 135px; 
}
nav ul li {
	display: inline-block;
	margin: 0 2px;
}
nav ul li:nth-child(6) {
	border: 2px solid #253039;
	border-radius: 5px;
	margin-right: 25px;
}
nav ul li a {
	color: #253039;
	font-size: 15px;
	display: inline-block;
	padding: 8px;
	font-weight: bold;
	opacity: 0.8;
	border: 1px solid #e6e8ed;
}

nav ul li a:hover {
	color: black;
	background-color: rgba(177, 174, 174, 0.5);
	opacity: 0.8;
	border: 1px solid rgba(177, 174, 174, 0.5);
	border-radius: 5px;
}
nav ul li:nth-child(6) a:hover {
	background-color: #e6e8ed;
}
/* Kraj Navigacije*/

.wrapper {
	padding-top: 5%;
	position: relative;
}
.main {
	width: 40%;
	margin-left: 15%;
	padding-bottom: 15%;

}
.text h1 {
	font-size: 95px;
	color: #2a2b3d;
	font-weight: 900;
	margin: 10px 0px;
	line-height: 95%;

}
.text p {
	font-size: 20px;
	font-weight: 500;
	line-height: 150%;
}
.asterisk {
	color: #c41966;
}
input[type="email"] {
	padding: 15px 10px;
	width: 225px;
	border: 1px solid grey;
	border-radius: 5px;
	margin-right: 8px; 
	color: #636867;
}

button[type="button"] {
	width: 150px;
	background-color: #42c299;
	color: white;
	font-weight: 600;
	padding: 15px 10px;
	border: 1px solid #42c299;
	border-radius: 5px;
}
button[type="button"]:hover {
	background-color: #25BF9B;
	box-shadow: 0px 2px 2px #0C876A;
}
.form p {
	font-size: 14px;
	color: #909291;
}
.form p a {
	text-decoration: underline;
	color: #909291;
}
/* Kraj glavnog dela*/

.image-right {
	background-image: url('https://a.slack-edge.com/5eb00/img/landing/where_work_happens/illustration_wall.png');
	background-repeat: no-repeat;
	height: 550px;
	width: 600px;
	position: absolute;
	bottom: 3%;
	right: 1%;
}
footer {
	background-color: white;
	padding-top: 25px;
}
.section {
	width: 65%;
	margin: auto;
	background-color: white;
	overflow: hidden;
}
.section ul {
	width: 24.5%;
	float: left;
}
.section ul li {
	padding: 6px 0px;
}
.section ul li a {
	color: #a4a4a5;
	font-size: 12px;
}
.section ul li a:hover {
	color: #838585;
}
.section ul li:first-child {
	font-size: 12px;
	font-weight: bold;
}
.using-slack li:first-child {
	color: #EDB431;
}
.slack li:first-child{
	color: #e32072;
}
.legal li:first-child {
	color: #2ab27b;
}
.handy-links li:first-child {
	color: #4B6BC6;
}
/* Kraj Footera*/

.last {
	background-color: rgba(0,0,0,.05);
	overflow: hidden;
	padding: 10px;
}
.icons {
	width: 65%;
	margin: auto;
}
.icons a:first-child {
	color: black; 
}
.icons ul {
	float: right;
	margin: 0;
}
.icons ul li {
	display: inline-block;
	padding: 0 5px;
}
.icons ul li a {
	color: #a4a4a5 !important;
}
.icons ul li:first-child a:hover {
	color: #838585 !important;
}
.icons ul li:nth-child(2) a:hover {
	color: #2397EF !important;
}
.icons ul li:nth-child(3) a:hover {
	color: red !important;
}
.fa-twitter {
	font-size: 25px !important;
}
.fa-youtube-play {
	font-size: 25px !important;
}